    <nav class="navbar navbar-dark default-color">
        <div class="container-fluid">
            <div class="navbar-header">
               
                <a href="/" class="navbar-brand"><Strong></Strong></a>
            </div>
            <div class="navbar-collapse collapse">
                <div class="nav navbar-nav">
                    <a style="font-size: 30px;" href="/">Home</a>
                    <a style="font-size: 30px; padding-left:25px; color: black;" href="{{url_for('main.interview_pitches')}}">Interview</a>
                    <a style="font-size: 30px; padding-left:25px; color: black;" href="{{url_for('main.product_pitches')}}">Product</a>
                    <a style="font-size: 30px; padding-left:25px; color: black;" href="{{url_for('main.promotion_pitches')}}">Promotion</a>
                    <a style="font-size: 30px; padding-left:1300px; color:  black;" href="{{url_for('auth.login')}}"> Sign in</a>
                </div>
    
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">{{current_user.username| capitalize}} <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu ">
                            <a href="{{url_for('main.profile',uname=current_user.username)}}"> Profile</a>
                            <hr>
                            <a href="{{url_for('main.user_pitches',uname=current_user.username)}}"> My Pitches</a>
                            <hr>
                            <a href="{{url_for('auth.logout')}}">Sign out</a>
                        </ul>
                    
                    {% else %}
                </ul>
                {%endif%}
            </div>
        </div>
         </div>
    </nav>










